<h1>Editing Cohort Officer</h1>

<%= render 'form' %>

<div class="footer">
  <div class="button-add-new">
    <%= link_to 'Show', @cohort_officer %> |
	<%= link_to 'Back', cohort_officers_path %>
  </div>
</div>


