<div class="teamHeader">
	<h1>The Team</h1>
</div>

<div class="teamBody">
	<div class="teamMember">
		<img src="images/UI.jpg" class="teamCat" />
		<h3 class="teamName">Josh Bubis</h3>
	</div>
</div>