<html>
<head>
	<title>Style Guide</title>
	<!-- 	GOOGLE FONTS -->
	<link href='https://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>

<body>
	<header>
		<h1>Project 3 Style Guide </h1>
		<img src="assets/images/GAlogo1.png">
	</header>

	<div class="wrapper">

	<div class="intro">
	</div>

	<div class="colors">
		<h2>Colors</h2>
		<div id="color1"></div>
		<div id="color2"></div>
		<div id="color3"></div>
		<div id="color4"></div><br>
		<p>Eucalyptus<br>#30A370</p>
		<p>Coral Red<br>#FCA311</p>
		<p>Big Stone<br>#30A370</p>
		<p>Mercury<br>#E5E5E5</p>
	</div>

	<div class="typography">
		<h2>Typography</h2>

		<div class="librebaskerville">
			<h2>Libre Baskerville</h2>
			<p>ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
			<p>abcdefghijklmnopqrstuvwxyz</p>
		</div>

		<div class="opensans">
			<h2>Open Sans</h2>
			<p>ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
			<p>abcdefghijklmnopqrstuvwxyz</p>
		</div>


	</div>


</div>

</body>
</html>