<html>
	<head>
		<title>Style Guide</title>
		<!-- 	GOOGLE FONTS -->
		<link href='https://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	</head>

<body>
<div class="wrapper">
	<header>
		<div class="content">
			<br>
			<h1>Project 3 Style Guide </h1>
			<br>
		</div>
	</header>

	<div class="logos">
		<div class="content">
		<h2>LOGOS</h2><br>
		<h1 id='logogreen'>General Assembly</h1><br>
		<h1 id='logoblue'>General Assembly</h1>
	</div>
		<hr>
	</div>

	<div class="colors">
		<div class="content">
		<h2>COLORS</h2><br>
		<div id="color1"></div>
		<p>Eucalyptus<br>#30A370<br /> 48, 163, 112</p>
		<div id="color2"></div>
		<p>Coral Red<br>#FCA311<br />252, 163, 17 </p>
		<div id="color3"></div>
		<p>Big Stone<br>#1A2B37<br />26, 43, 55</p>
		<br />
		<div id="color4"></div>
		<p>Mercury<br>#E5E5E5<br />229, 229, 229</p>
		<div id="color5"></div>
		<p>Canary<br>#F5EA82<br />245, 233, 143</p>
	</div>
		<hr>
	</div>

	<div class="typography">
		<div class="Pacifico">
		<h2>TYPOGRAPHY</h2><br>
		<div class="pacifico">
			<h1>Pacifico</h1>
			<p>ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
			<p>abcdefghijklmnopqrstuvwxyz</p>
		</div>
		<br>
		<div class="opensans">
			<h1>Open Sans</h1>
			<p>ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
			<p>abcdefghijklmnopqrstuvwxyz</p>
		</div>
		<br />
		<div class="css-code">

				<p style="font-family:courier, sans-serif; background-color:#eee; margin:0 auto; width:80%;">
					CSS: @import url(https://fonts.googleapis.com/css?family=Pacifico|Open+Sans:400,700,300,300italic);
				</p>
				<br />
				<p style="font-family:courier, sans-serif; background-color:#eee; margin:0 auto; width:80%;">
					@import url(https://fonts.googleapis.com/css?family=Pacifico|Open+Sans:400,700,300,300italic);
				</p>
				<br />
				<p style="font-family:courier, sans-serif; background-color:#eee; margin:0 auto; width:80%;">
					&lt;link href='https://fonts.googleapis.com/css?family=Pacifico|Open+Sans:400,700,300,300italic' rel='stylesheet' type='text/css'&gt;
				</p>
				<br />
				<p style="font-family:courier, sans-serif; background-color:#eee; margin:0 auto; width:80%;">
					font-family: 'Pacifico', cursive;
					font-family: 'Open Sans', sans-serif;
				</p>


		</div>
	</div>
		<hr>
	</div>

	<div class="buttons">
		<div class="content">
		<h2>BUTTONS</h2><br>
		<div id="mainbutton">Main Button</div><br><br>
		<div id="secondarybutton">Secondary Button</div>
		</div>
		<hr/>
	</div>

	<div class="charts">
		<div class="content">
		<h2>Charts</h2><br>
		<div id="chart1">
			<div id="pie1">
			</div>
			<div class="chartinfo">
				<p>Blah Blah Blah</p>
			<div>
		</div>
	</div>
	</div>
	<hr>

</div>
</body>
</html>
