<html>
	<head>
		<title>Style Guide</title>
		<!-- 	GOOGLE FONTS -->
		<link href='https://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	</head>

<body>
<div class="wrapper">
	<header>
		<div class="content">
			<br>
			<h1>Project 3 Style Guide </h1>
			<br>
		</div>
	</header>

	<div class="logos">
		<div class="content">
		<h2>LOGOS</h2><br>
		<h1 id='logogreen'>General Assembly</h1><br>
		<h1 id='logoblue'>General Assembly</h1>
	</div>
		<hr>
	</div>

	<div class="colors">
		<div class="content">
		<h2>COLORS</h2><br>
		<div id="color1"></div>
		<div id="color2"></div>
		<div id="color3"></div>
		<div id="color4"></div><br>
		<p>Eucalyptus<br>#30A370</p>
		<p>Coral Red<br>#FCA311</p>
		<p>Big Stone<br>#1A2B37</p>
		<p>Mercury<br>#E5E5E5</p>
	</div>
		<hr>
	</div>

	<div class="typography">
		<div class="content">
		<h2>TYPOGRAPHY</h2><br>
		<div class="pacifico">
			<h1>Pacifico</h1>
			<p>ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
			<p>abcdefghijklmnopqrstuvwxyz</p>
		</div>
		<br>
		<div class="opensans">
			<h1>Open Sans</h1>
			<p>ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
			<p>abcdefghijklmnopqrstuvwxyz</p>
		</div>
	</div>
		<hr>
	</div>

	<div class="buttons">
		<div class="content">
		<h2>BUTTONS</h2><br>
		<div id="mainbutton">Main Button</div><br><br>
		<div id="secondarybutton">Secondary Button</div>
		</div>
		<hr/>
	</div>

	<div class="charts">
		<div class="content">
		<h2>Charts</h2><br>
		<div id="chart1">
			<div id="pie1">
			</div>
			<div class="chartinfo">
				<p>Blah Blah Blah</p>
			<div>
		</div>
	</div>
	</div>
	<hr>

</div>
</body>
</html>