/* line 4, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/contacts.scss */
#contacts_index {
  background-color: #E5E5E5;
}
/* line 8, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/contacts.scss */
#contacts_index .main-container {
  margin: 0 auto;
  text-align: center;
}
/* line 13, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/contacts.scss */
#contacts_index .headline-box {
  max-width: 50%;
  width: 50%;
  height: 55px;
  background-color: #1A2B37;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 10px;
}
/* line 24, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/contacts.scss */
#contacts_index .search-form {
  max-width: 50%;
  width: 50%;
  height: 50px;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 0px;
}
/* line 35, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/contacts.scss */
#contacts_index input[type="text"] {
  height: 30px;
  width: 290px;
  margin-bottom: 10px;
}
/* line 41, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/contacts.scss */
#contacts_index input[type="submit"] {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  background-color: #FCA311;
  width: 120px;
  height: auto;
  padding: 10px;
  border-radius: 10px;
  font-weight: 400;
  margin-left: 2%;
}
/* line 53, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/contacts.scss */
#contacts_index h2 {
  font-family: "Pacifico", cursive;
  font-size: 2.5em;
  color: white;
  vertical-align: middle;
  padding-top: 16px;
}
/* line 61, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/contacts.scss */
#contacts_index table {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 15px;
  border-collapse: collapse;
}
/* line 72, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/contacts.scss */
#contacts_index th {
  padding: 2%;
}
/* line 77, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/contacts.scss */
#contacts_index table td {
  text-align: left;
  background-color: white;
  padding: 4%;
}
/*
*
*= require_tree .
*= require_self
*/
/* line 18, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #E5E5E5;
  overflow: auto;
}

/* line 28, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0 auto;
}

/* line 38, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.container {
  position: relative;
  height: 100%;
  width: 100%;
  left: 0;
  -webkit-transition: left 0.4s ease-in-out;
  -moz-transition: left 0.4s ease-in-out;
  -ms-transition: left 0.4s ease-in-out;
  -o-transition: left 0.4s ease-in-out;
  transition: left 0.4s ease-in-out;
  margin: 0 auto;
}

/* line 51, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.container.open-sidebar {
  left: 240px;
}

/* line 55, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#sidebar {
  position: absolute;
  left: -240px;
  background: #1A2B37;
  width: 240px;
  height: 100%;
  box-sizing: border-box;
}

/* line 64, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 70, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#sidebar ul li {
  margin: 0;
  text-align: center;
}

/* line 75, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#sidebar ul li a {
  padding: 15px 20px;
  font-size: 14px;
  font-weight: 100;
  color: white;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid white;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

/* line 90, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#sidebar ul li:hover a {
  background: #F14E69;
}

/* line 94, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.main-content {
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
}

/* line 103, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.main-content .content {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-left: 60px;
  width: 100%;
}

/* line 110, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
form {
  margin: 0 auto;
  text-align: center;
}

/* line 115, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.main-content .content h1 {
  font-weight: 100;
}

/* line 119, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.main-content .content p {
  width: 100%;
  line-height: 160%;
}

/* line 124, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.main-content #sidebar-toggle {
  background: #1A2B37;
  border-radius: 3px;
  display: block;
  position: relative;
  padding: 10px 7px;
  float: left;
}

/* line 133, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.main-content #sidebar-toggle .bar {
  display: block;
  width: 18px;
  margin-bottom: 3px;
  height: 2px;
  background-color: #fff;
  border-radius: 1px;
}

/* line 142, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.main-content #sidebar-toggle .bar:last-child {
  margin-bottom: 0;
}

/* line 146, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
a {
  text-decoration: none;
}
/* line 149, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
a:hover {
  background: none;
  color: black;
}

/* line 155, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.wrapper {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

/* line 161, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.navbar {
  background-color: #1A2B37;
  color: white;
  width: 100%;
  height: 50px;
  display: block;
}

/* line 169, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
thead {
  background-color: #1A2B37;
}

/* line 173, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.header {
  padding: 0px;
  height: 100px;
  background: #30A370;
  margin: 0 auto;
  font-family: "Pacifico", cursive;
}

/* line 181, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
table {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border-collapse: collapse;
}

/* line 189, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.headerText {
  font-size: 2em;
  color: white;
  margin: 0 auto;
  text-transform: none;
}

/* line 196, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.headerRow th {
  font-weight: bold;
  color: white;
}

/* line 201, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
tbody {
  padding: 25px;
}

/* line 205, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.headerRow {
  text-transform: uppercase;
}

/* line 209, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
td, th {
  font-size: 1em;
  color: black;
  padding: 25px;
}

/* line 215, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#logogreen {
  font-family: 'Pacifico', cursive;
  font-size: 3em;
  background: #30A370;
  color: white;
  display: inline-block;
  line-height: 1;
  padding: 15px 40px;
  border-radius: 10px;
}

/* line 226, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#logoblue {
  font-family: 'Pacifico', cursive;
  font-size: 3em;
  background: #1A2B37;
  color: white;
  display: inline-block;
  line-height: 1;
  padding: 15px 40px;
  border-radius: 10px;
}

/* line 237, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#logobluesmall {
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  background: #1A2B37;
  color: white;
  display: inline-block;
  line-height: 1;
  padding: 0px 40px;
  border-radius: 10px;
}

/* line 248, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.colors div {
  margin-right: 30px;
  font-family: 'Open Sans', sans-serif;
}

/* line 253, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.colors p {
  display: inline-block;
  font-size: 12px;
  margin-right: 28px;
}

/* line 259, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#color1 {
  background: #30A370;
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
}

/* line 269, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#color2 {
  background: #FCA311;
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
}

/* line 279, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#color3 {
  background: #1A2B37;
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
}

/* line 289, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#color4 {
  background: #E5E5E5;
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
}

/* line 299, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.pacifico h1 {
  font-family: 'Pacifico', cursive;
  font-size: 3em;
}

/* line 304, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.pacifico p {
  font-size: 1em;
}

/* line 308, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.opensans h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
}

/* line 313, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.opensans h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

/* line 318, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.buttons {
  margin: 0 auto;
}

/* line 322, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#mainbutton {
  background-color: #F5EA82;
  height: auto;
  padding: 20px;
  display: inline-block;
  border-radius: 10px;
  border: none;
  font-weight: 400;
}

/* line 332, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#secondarybutton {
  display: inline-block;
  background-color: #E5E5E5;
  width: 150px;
  height: auto;
  padding: 20px;
  border-radius: 10px;
}

/* line 341, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#chart1 {
  background: white;
  height: 250px;
  width: 350px;
  margin: 0 auto;
}

/* line 348, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.chartinfo {
  background: white;
  width: 350px;
  margin: 0 auto;
}

/* line 354, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.chartinfo p {
  display: inline-block;
}

/* line 358, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#pie1 {
  background: #1EBBA6;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: 0 auto;
  margin-top: 50px;
  display: inline-block;
}

/* line 369, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
hr {
  width: 50%;
}

/* line 373, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#catlogo {
  background-image: url("/assets/catlogo-38f468624bb6cf4f9bd6c98ff1fd8fdeba0e5c26b4c4ee2b596559cdad30a4f0.png");
  background-size: cover;
  width: 250px;
  min-width: 140px;
  height: 100px;
  margin: 0 auto;
  margin-top: 50px;
}

/* line 5, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/programs.scss */
#programs_index #program-0 {
  background-image: url("/assets/webdev-4c78ca5499744f06bbcdb00f190d737c4480eefeb6ad768cac24b786bbb91837.jpg");
  background-size: cover;
  width: 100px;
  min-width: 100px;
  height: 60px;
}
/* line 13, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/programs.scss */
#programs_index #program-1 {
  background-image: url("/assets/UIicon-49ecfebfad00c87e0df2aa4934e7ef685e6035f5dc7bef31fc4c202eb35ac7b3.jpg");
  background-size: cover;
  width: 100px;
  min-width: 100px;
  height: 60px;
}
/* line 21, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/programs.scss */
#programs_index #program-1 img {
  margin: 210px;
}
/* line 25, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/programs.scss */
#programs_index #program-2 {
  background-image: url("/assets/PMicon-07af792fab05bf56b9f2ce71a800295efcd612fc5569ec49c8678e9346567e69.jpg");
  background-size: cover;
  width: 100px;
  min-width: 100px;
  height: 60px;
}
/* line 1, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 34, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/scaffolds.scss */
a {
  color: #1A2B37;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
/* line 39, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #30A370;
}

/* line 46, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 51, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 55, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 61, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/*
*
*= require_tree .
*= require_self
*/
/* line 18, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #E5E5E5;
  overflow: auto;
}

/* line 28, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0 auto;
}

/* line 38, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.container {
  position: relative;
  height: 100%;
  width: 100%;
  left: 0;
  -webkit-transition: left 0.4s ease-in-out;
  -moz-transition: left 0.4s ease-in-out;
  -ms-transition: left 0.4s ease-in-out;
  -o-transition: left 0.4s ease-in-out;
  transition: left 0.4s ease-in-out;
  margin: 0 auto;
}

/* line 51, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.container.open-sidebar {
  left: 240px;
}

/* line 55, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#sidebar {
  position: absolute;
  left: -240px;
  background: #1A2B37;
  width: 240px;
  height: 100%;
  box-sizing: border-box;
}

/* line 64, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 70, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#sidebar ul li {
  margin: 0;
  text-align: center;
}

/* line 75, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#sidebar ul li a {
  padding: 15px 20px;
  font-size: 14px;
  font-weight: 100;
  color: white;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid white;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

/* line 90, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#sidebar ul li:hover a {
  background: #F14E69;
}

/* line 94, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.main-content {
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
}

/* line 103, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.main-content .content {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-left: 60px;
  width: 100%;
}

/* line 110, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
form {
  margin: 0 auto;
  text-align: center;
}

/* line 115, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.main-content .content h1 {
  font-weight: 100;
}

/* line 119, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.main-content .content p {
  width: 100%;
  line-height: 160%;
}

/* line 124, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.main-content #sidebar-toggle {
  background: #1A2B37;
  border-radius: 3px;
  display: block;
  position: relative;
  padding: 10px 7px;
  float: left;
}

/* line 133, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.main-content #sidebar-toggle .bar {
  display: block;
  width: 18px;
  margin-bottom: 3px;
  height: 2px;
  background-color: #fff;
  border-radius: 1px;
}

/* line 142, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.main-content #sidebar-toggle .bar:last-child {
  margin-bottom: 0;
}

/* line 146, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
a {
  text-decoration: none;
}
/* line 149, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
a:hover {
  background: none;
  color: black;
}

/* line 155, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.wrapper {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

/* line 161, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.navbar {
  background-color: #1A2B37;
  color: white;
  width: 100%;
  height: 50px;
  display: block;
}

/* line 169, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
thead {
  background-color: #1A2B37;
}

/* line 173, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.header {
  padding: 0px;
  height: 100px;
  background: #30A370;
  margin: 0 auto;
  font-family: "Pacifico", cursive;
}

/* line 181, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
table {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border-collapse: collapse;
}

/* line 189, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.headerText {
  font-size: 2em;
  color: white;
  margin: 0 auto;
  text-transform: none;
}

/* line 196, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.headerRow th {
  font-weight: bold;
  color: white;
}

/* line 201, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
tbody {
  padding: 25px;
}

/* line 205, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.headerRow {
  text-transform: uppercase;
}

/* line 209, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
td, th {
  font-size: 1em;
  color: black;
  padding: 25px;
}

/* line 215, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#logogreen {
  font-family: 'Pacifico', cursive;
  font-size: 3em;
  background: #30A370;
  color: white;
  display: inline-block;
  line-height: 1;
  padding: 15px 40px;
  border-radius: 10px;
}

/* line 226, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#logoblue {
  font-family: 'Pacifico', cursive;
  font-size: 3em;
  background: #1A2B37;
  color: white;
  display: inline-block;
  line-height: 1;
  padding: 15px 40px;
  border-radius: 10px;
}

/* line 237, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#logobluesmall {
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  background: #1A2B37;
  color: white;
  display: inline-block;
  line-height: 1;
  padding: 0px 40px;
  border-radius: 10px;
}

/* line 248, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.colors div {
  margin-right: 30px;
  font-family: 'Open Sans', sans-serif;
}

/* line 253, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.colors p {
  display: inline-block;
  font-size: 12px;
  margin-right: 28px;
}

/* line 259, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#color1 {
  background: #30A370;
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
}

/* line 269, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#color2 {
  background: #FCA311;
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
}

/* line 279, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#color3 {
  background: #1A2B37;
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
}

/* line 289, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#color4 {
  background: #E5E5E5;
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
}

/* line 299, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.pacifico h1 {
  font-family: 'Pacifico', cursive;
  font-size: 3em;
}

/* line 304, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.pacifico p {
  font-size: 1em;
}

/* line 308, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.opensans h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
}

/* line 313, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.opensans h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

/* line 318, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.buttons {
  margin: 0 auto;
}

/* line 322, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#mainbutton {
  background-color: #F5EA82;
  height: auto;
  padding: 20px;
  display: inline-block;
  border-radius: 10px;
  border: none;
  font-weight: 400;
}

/* line 332, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#secondarybutton {
  display: inline-block;
  background-color: #E5E5E5;
  width: 150px;
  height: auto;
  padding: 20px;
  border-radius: 10px;
}

/* line 341, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#chart1 {
  background: white;
  height: 250px;
  width: 350px;
  margin: 0 auto;
}

/* line 348, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.chartinfo {
  background: white;
  width: 350px;
  margin: 0 auto;
}

/* line 354, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.chartinfo p {
  display: inline-block;
}

/* line 358, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#pie1 {
  background: #1EBBA6;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: 0 auto;
  margin-top: 50px;
  display: inline-block;
}

/* line 369, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
hr {
  width: 50%;
}

/* line 373, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#catlogo {
  background-image: url("/assets/catlogo-38f468624bb6cf4f9bd6c98ff1fd8fdeba0e5c26b4c4ee2b596559cdad30a4f0.png");
  background-size: cover;
  width: 250px;
  min-width: 140px;
  height: 100px;
  margin: 0 auto;
  margin-top: 50px;
}

/* line 3, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/students.scss */
#students_index, #students_show {
  background-color: #E5E5E5;
}
/* line 6, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/students.scss */
#students_index .header, #students_show .header {
  background-color: #30A370;
  font-size: 2em;
  color: white;
}
/* line 12, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/students.scss */
#students_index .headerText, #students_show .headerText {
  font-family: "Pacifico", cursive;
  padding: 30px;
}
/* line 17, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/students.scss */
#students_index .tablewrapper, #students_show .tablewrapper {
  width: 100%;
  background: white;
  text-align: left;
  padding: 20px;
}
/* line 24, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/students.scss */
#students_index #students_login, #students_show #students_login {
  background-color: #E5E5E5;
  color: white;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* line 35, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/students.scss */
#students_login .navbar {
  display: none;
}
/* line 39, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/students.scss */
#students_login #logoblue {
  width: 350px;
  box-sizing: border-box;
}
/* line 44, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/students.scss */
#students_login #login-input {
  display: block;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
}
/* line 51, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/students.scss */
#students_login .input-box {
  width: 350px;
  margin: 0 auto;
  display: block;
  max-width: 403px;
  height: 25px;
  padding: 20px;
  border: 0;
  font-size: 1em;
  font-color: black;
  box-sizing: border-box;
  outline: 0;
}
/* line 64, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/students.scss */
#students_login .input-box:hover {
  opacity: 1;
}
/* line 69, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/students.scss */
#students_login #mainbutton {
  width: 350px;
  height: 55px;
  font-size: 1em;
  box-sizing: border-box;
  background-color: #F14E69;
  text-transform: uppercase;
  color: white;
}
/* line 79, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/students.scss */
#students_login #mainbutton:hover {
  background: #1A2B37;
  color: white;
}
/* line 85, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/students.scss */
#students_login #catlogo {
  height: 145px;
  margin-top: 20px;
}
/* line 90, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/students.scss */
#students_login #canvas-container {
  width: 100%;
  text-align: center;
}
/* line 94, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/students.scss */
#students_login canvas {
  display: inline;
  margin: 0 auto;
  text-align: center;
}
/* line 100, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/students.scss */
#students_login .top-text-header {
  margin: 0 auto;
  width: 100%;
  background-color: #30A370;
  color: white;
  height: 1.5em;
  line-height: 1.5em;
  font-family: Pacifico, cursive;
  font-size: 4em;
  border: 1px solid #30A370;
}
/* line 112, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/students.scss */
#students_login .dashboard-widget {
  display: inline-block;
  min-width: 270px;
  width: 33%;
}
/* line 118, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/students.scss */
#students_login .cohort-list {
  color: #333;
  display: inline-block;
  width: 250px;
  height: 250px;
  vertical-align: top;
  text-align: center;
}
/* line 128, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/students.scss */
#students_login .doughnut-chart {
  width: 100%;
  height: 250px;
}
/* line 133, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/students.scss */
#students_login .pie-chart {
  width: 100%;
  height: 250px;
}
/* line 138, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/students.scss */
#students_login .employed-totals {
  border-radius: 50%;
  background-image: url("/assets/handshake-icon-6950179a152ce7456c6aac37f157bf1ccc7aa54ecbf2919ecc957c940dafc7a7.png");
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: center;
}
/* line 146, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/students.scss */
#students_login ul.dashboard-chart {
  text-align: left;
  list-style-type: none;
  padding: 0;
}
/* line 150, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/students.scss */
#students_login ul.dashboard-chart li:first-child {
  line-height: 1em;
  font-weight: bold;
  font-size: 2em;
  font-family: Pacifico, cursive;
  margin-bottom: 1em;
}
/* line 159, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/students.scss */
#students_login table.record-list {
  border-collapse: collapse;
  margin: 0 auto;
  width: 100%;
  margin-top: 20px;
}
/* line 164, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/students.scss */
#students_login table.record-list thead {
  background-color: #30A370;
  color: #fff;
}
/* line 168, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/students.scss */
#students_login table.record-list th {
  text-align: left;
  padding: 5px;
}
/* line 172, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/students.scss */
#students_login table.record-list td {
  padding: 5px;
  font-style: italic;
}
/* line 176, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/students.scss */
#students_login table.record-list td a {
  font-style: normal;
}
/*body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

hr {
	width: 50%;
}

.content {
	margin: 40px 0px;
}

#ga1 {
	font-family: 'Pacifico', cursive;
	font-size: 2.5em;
	background: #30A370;
	color: white;
	display: inline-block;
	line-height: 1;
	padding: 15px 40px;
	border-radius: 10px;
}

#ga2 {
	font-family: 'Pacifico', cursive;
	font-size: 2.5em;
	background: #1A2B37;
	color: white;
	display: inline-block;
	line-height: 1;
	padding: 15px 40px;
	border-radius: 10px;
}

.colors div {
	margin-right: 30px;
	font-family: 'Open Sans', sans-serif;
}

.colors p {
	display: inline-block;
	font-size: 12px;
	margin-right: 28px;
}

#color1 {
	background: #30A370;
	display: inline-block;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
}

#color2 {
	background: #FCA311;
	display: inline-block;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
}

#color3 {
	background: #1A2B37;
	display: inline-block;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
}

#color4 {
	background: #E5E5E5;
	display: inline-block;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
}

#color5 {
	background: #F5EA82;
	display: inline-block;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
}

.pacifico h1 {
	font-family: 'Pacifico', cursive;
	font-size: 3em;
}

.pacifico p {
	font-size: 1em;;
}

.opensans h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 2em;
}

.opensans h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;;
}

.buttons {
	margin: 0 auto;
}


#mainbutton {
	background-color: #FCA311;
	width: 150px;
	height: auto;
	padding: 20px;
	display: inline-block;
	border-radius: 10px;
	font-weight: 400;
}

#secondarybutton {
	display: inline-block;
	background-color:#E5E5E5;
	width: 150px;
	height: auto;
	padding: 20px;
	border-radius: 10px;
}

#chart1 {
	background: white;
	height: 250px;
	width: 350px;
	margin: 0 auto;
}

.chartinfo {
	background: white;
	width: 350px;
	margin: 0 auto;
}

.chartinfo p {
	display: inline-block;
}

#pie1 {
	background: #1EBBA6;
	border-radius: 50%;
	height: 150px;
	width: 150px;
	margin: 0 auto;
	margin-top: 50px;
	display: inline-block;
}
*/

 /*
 *


 */
/* line 19, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #E5E5E5;
  overflow: auto;
}

/* line 29, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0 auto;
}

/* line 39, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.container {
  position: relative;
  height: 100%;
  width: 100%;
  left: 0;
  -webkit-transition: left 0.4s ease-in-out;
  -moz-transition: left 0.4s ease-in-out;
  -ms-transition: left 0.4s ease-in-out;
  -o-transition: left 0.4s ease-in-out;
  transition: left 0.4s ease-in-out;
  margin: 0 auto;
}

/* line 52, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.container.open-sidebar {
  left: 240px;
}

/* line 56, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#sidebar {
  position: absolute;
  left: -240px;
  background: #1A2B37;
  width: 240px;
  height: 100%;
  box-sizing: border-box;
}

/* line 65, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 71, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#sidebar ul li {
  margin: 0;
  text-align: center;
}

/* line 76, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#sidebar ul li a {
  padding: 15px 20px;
  font-size: 14px;
  font-weight: 100;
  color: white;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid white;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

/* line 91, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#sidebar ul li:hover a {
  background: #F14E69;
}

/* line 95, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.main-content {
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
}

/* line 104, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.main-content .content {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-left: 60px;
  width: 100%;
}

/* line 111, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
form {
  margin: 0 auto;
  text-align: center;
}

/* line 116, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.main-content .content h1 {
  font-weight: 100;
}

/* line 120, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.main-content .content p {
  width: 100%;
  line-height: 160%;
}

/* line 125, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.main-content #sidebar-toggle {
  background: #1A2B37;
  border-radius: 3px;
  display: block;
  position: relative;
  padding: 10px 7px;
  float: left;
}

/* line 134, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.main-content #sidebar-toggle .bar {
  display: block;
  width: 18px;
  margin-bottom: 3px;
  height: 2px;
  background-color: #fff;
  border-radius: 1px;
}

/* line 143, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.main-content #sidebar-toggle .bar:last-child {
  margin-bottom: 0;
}

/* line 147, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
a {
  text-decoration: none;
}
/* line 150, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
a:hover {
  background: none;
  color: black;
}

/* line 156, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.wrapper {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

/* line 162, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.navbar {
  background-color: #1A2B37;
  color: white;
  width: 100%;
  height: 50px;
  display: block;
}

/* line 170, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
thead {
  background-color: #1A2B37;
}

/* line 174, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.header {
  padding: 0px;
  height: 100px;
  background: #30A370;
  margin: 0 auto;
  font-family: "Pacifico", cursive;
}

/* line 182, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
table {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border-collapse: collapse;
}

/* line 190, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.headerText {
  font-size: 2em;
  color: white;
  margin: 0 auto;
  text-transform: none;
}

/* line 197, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.headerRow th {
  font-weight: bold;
  color: white;
}

/* line 202, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
tbody {
  padding: 25px;
}

/* line 206, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.headerRow {
  text-transform: uppercase;
}

/* line 210, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
td, th {
  font-size: 1em;
  color: black;
  padding: 25px;
}

/* line 216, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#logogreen {
  font-family: 'Pacifico', cursive;
  font-size: 3em;
  background: #30A370;
  color: white;
  display: inline-block;
  line-height: 1;
  padding: 15px 40px;
  border-radius: 10px;
}

/* line 227, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#logoblue {
  font-family: 'Pacifico', cursive;
  font-size: 3em;
  background: #1A2B37;
  color: white;
  display: inline-block;
  line-height: 1;
  padding: 15px 40px;
  border-radius: 10px;
}

/* line 238, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#logobluesmall {
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  background: #1A2B37;
  color: white;
  display: inline-block;
  line-height: 1;
  padding: 0px 40px;
  border-radius: 10px;
}

/* line 249, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.colors div {
  margin-right: 30px;
  font-family: 'Open Sans', sans-serif;
}

/* line 254, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.colors p {
  display: inline-block;
  font-size: 12px;
  margin-right: 28px;
}

/* line 260, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#color1 {
  background: #30A370;
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
}

/* line 270, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#color2 {
  background: #FCA311;
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
}

/* line 280, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#color3 {
  background: #1A2B37;
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
}

/* line 290, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#color4 {
  background: #E5E5E5;
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
}

/* line 300, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.pacifico h1 {
  font-family: 'Pacifico', cursive;
  font-size: 3em;
}

/* line 305, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.pacifico p {
  font-size: 1em;
}

/* line 309, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.opensans h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
}

/* line 314, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.opensans h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

/* line 319, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.buttons {
  margin: 0 auto;
}

/* line 323, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#mainbutton {
  background-color: #F5EA82;
  height: auto;
  padding: 20px;
  display: inline-block;
  border-radius: 10px;
  border: none;
  font-weight: 400;
}

/* line 333, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#secondarybutton {
  display: inline-block;
  background-color: #E5E5E5;
  width: 150px;
  height: auto;
  padding: 20px;
  border-radius: 10px;
}

/* line 342, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#chart1 {
  background: white;
  height: 250px;
  width: 350px;
  margin: 0 auto;
}

/* line 349, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.chartinfo {
  background: white;
  width: 350px;
  margin: 0 auto;
}

/* line 355, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
.chartinfo p {
  display: inline-block;
}

/* line 359, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#pie1 {
  background: #1EBBA6;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: 0 auto;
  margin-top: 50px;
  display: inline-block;
}

/* line 370, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
hr {
  width: 50%;
}

/* line 374, /Users/zjbird/Code/wdi/group_project/outcomes-app/app/assets/stylesheets/application.scss */
#catlogo {
  background-image: url("/assets/catlogo-38f468624bb6cf4f9bd6c98ff1fd8fdeba0e5c26b4c4ee2b596559cdad30a4f0.png");
  background-size: cover;
  width: 250px;
  min-width: 140px;
  height: 100px;
  margin: 0 auto;
  margin-top: 50px;
}
