<p id="notice"><%= notice %></p>

<table>

  <tbody>
    <tr>
      <td id="header" colspan="2">
        <h1>Programs</h1>
      </td>
    </tr>

    <% @programs.each_with_index do |program, index| %>
      <tr>
        <td id='<%="program-#{index}"%>'></td>
        <td><%= link_to program.name, program %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div id="catlogo"></div>
