<!-- <div class="switcher-sidebar"> -->
  <table>
    <thead>
      <tr>
        <th class="header" colspan="8">
          <h3 class="headerText">All Programs</h3>
        </th>
      </tr>
    <tbody class="bodyRow">
      <% @programs.each_with_index do |program, index| %>
        <tr>
          <td class ="program-index-names" id='<%="program-#{index}"%>'></td>
          <td><%= link_to program.name, program %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<!--
<div class="switcher-main">
  <%= react_component('ProgramBox', {programs: @programs, cohorts: @cohorts}) %>
</div> -->
