<p>
  <strong>Name:</strong>
  <%= @program.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @program.description %>
</p>

<div class="footer">
  <div class="button-add-new">
    <%= link_to 'Edit', edit_program_path(@program) %> |
	<%= link_to 'Back', programs_path %>
  </div>
</div>