<table>
  <thead>
    <tr>
      <th class="header" colspan="2">
        <h1 class="headerText"><%= @program.name %></h1>
      </th>
    </tr>

    <tr>
      <th class="linkBar" colspan="2">
        <div class="button-add-new">
			<%= link_to 'Back', programs_path %>
        </div>
      </th>
    </tr>

    <tr class="headerRow">
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @program.name %></td>
      <td><%= @program.description %></td>
    </tr>
  </tbody>

</table>
