<table>
  <thead>
    <tr>
      <th class="header">
        <h1 class="headerText">Contact Search</h1>
      </th>
    </tr>
  </thead>

  <tbody class="bodyRow">
    <tr>
      <td><%= react_component('ContactBox', contacts: @contacts) %></td>
    </tr>
  </tbody>
</table>


<%= react_component('ContactBox', contacts: @contacts) %>
