<table>
<thead>
    <tr>
      <th class="header" colspan="10">
        <h1 class="headerText">New Contact</h1>
      </th>
    </tr>
    <tr>
      <th class="linkBar" colspan="7">
        <div class="button-add-new">
          <%= link_to 'Back', contacts_path %>
        </div>
      </th>
    </tr>
  </thead>
  <tbody class="bodyRow">
  	<tr>
		<td><%= render 'form' %></td>
	</tr>
	</tbody>
</table>

