

<!--
1. Have you found steady work in the tech field since graduation? check
2. Where are you working (if applicable)? string input
3. How many jobs have you applied to? checkboxes
4. Have you received any feedback about your resume, good or bad? Please explain. text area
5. If you're currently employed, is the position related to your career goals? textarea
6. If employed, is your position part-time, full-time, or freelance? textarea
7. What strategies did you use during your employment search? What tools have you found to be the most helpful while looking for new employment?
textarea
8. What is your personal website? string
9. Thank you for filling this out! Please let us know of any feedback you have! Afterwards, please scroll down and click "Send". Good luck! textarea
-->

<%= form_for(@user) do |f| %>
  <p><%=@user.name%></p>
<% end %>
