@import "application";

// this should inherit from header
.search-header {
	color: white;
	text-align: center;
	margin: 0 auto;
}


#programs_index {

	#program-0 {
		background-image: url(asset-path('webdev.jpg'));
		background-size: cover;
		width: 100px;
		min-width: 100px;
		height: 60px;
	}

	#program-1 {
		background-image: url(asset-path('UIicon.jpg'));
		background-size: cover;
		width: 100px;
		min-width: 100px;
		height: 60px;
	}

	#program-1 img {
		margin: 210px;
	}

	#program-2 {
		background-image: url(asset-path('PMicon.jpg'));
		background-size: cover;
		width: 100px;
		min-width: 100px;
		height: 60px;
	}

	@media (max-width: 810px) and (min-width: 320px) {
	}


}
