body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

header {
	text-align: center;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}


.colors p {
	display: inline-block;
}

.colors div {
	margin-right: 35px;
}

.colors p {
	margin-right: 20px;
}

#color1 {
	background: #30A370;
	display: inline-block;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
}

#color2 {
	background: #FCA311;
	display: inline-block;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
}

#color3 {
	background: #1A2B37;
	display: inline-block;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
}

#color4 {
	background: #E5E5E5;
	display: inline-block;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
}



.librebaskerville h2, p {
	font-family: 'Libre Baskerville', serif;
}

.opensans h2, p {
	font-family: 'Open Sans', sans-serif;
}


